.files-modal-content{
    position: relative;
}
.spinners ,.files-spinners{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1067;
    transform: translate(-50%);
}

.overlay , .files-overlay{
    background-color: var(--theme-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1065;

}
.files-spinners ,.files-overlay{
    position: absolute;
}
.spinner-grow ,.files-spinners .spinner-grow{
    width: 14px !important;
    height: 14px !important;
}

.swal-height{
    font-size: 11px !important;
    margin: 16px 0 !important;
}
.swal-login{
    font-size: 13px !important;
   
}
.swal-upload{
    font-size: 13px !important;
   
}