.profile-wraper{
    
    text-align: center;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.down{
    font-size: 24px;
    color: #fba61b;
    margin-bottom: 24px;
}
.profile-wraper .hello{
    font-size: 72px;
    color: #fba61b;
    font-weight: bold;
}
.profile-wraper .username{
    font-weight: bold;
    margin-top: -26px;
    color: var(--primary-color);
}
.profile-wraper .message{
    font-size: var(--caption-three);
    color: var(--caption-color);
}
.profile-wraper .wrapper{
    width: 100%;
    background: var(--theme-color);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  }
  .profile-wraper .wrapper header{
    color: #6990F2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
  }
  .profile-wraper .wrapper .upload-form{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990F2;
  }
  .profile-wraper  form :where(i, p){
    color: #6990F2;
  }
  .profile-wraper form i{
    font-size: 50px;
  }
  .profile-wraper  form p{
    margin-top: 15px;
    font-size: 16px;
  }
  .profile-wraper section .upload-row{
    margin-bottom: 10px;
    /* background: #E9F0FF; */
    background: var(--theme-color);
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .profile-wraper section .upload-row i{
    color: #6990F2;
    font-size: var(--heading-three);
  }
  .profile-wraper section .details span{
    font-size: 14px;
  }
  .profile-wraper .progress-area .upload-row .content{
    width: 100%;
    margin-left: 15px;
  }
  .profile-wraper .progress-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
  }
  .profile-wraper .progress-area .content .progress-bar{
    height: 6px;
    width: 100%;
    margin-bottom: 4px;
    background: var(--theme-color);
    border-radius: 30px;
  }
  .profile-wraper  .content .progress-bar .progress{
    height: 100%;
    width: 0%;
    background: #6990F2;
    border-radius: inherit;
  }
  .profile-wraper  .uploaded-area{
    max-height: 232px;
    overflow-y: scroll;
  }
  .profile-wraper  .uploaded-area.onprogress{
    max-height: 150px;
  }
  .profile-wraper .uploaded-area::-webkit-scrollbar{
    width: 0px;
  }
  .profile-wraper .uploaded-area .upload-row .content{
    display: flex;
    align-items: center;
  }
  .profile-wraper .uploaded-area .upload-row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
  }
  .profile-wraper .uploaded-area .upload-row .details .size{
    color: var(--primary-color);
    font-size: var(--caption-five);
    text-align: start;
  }
  .profile-wraper .uploaded-area .upload-row .downloaded-link{
    color: var(--primary-color);
    font-size: var(--caption-six);
    
  }
  .profile-wraper .uploaded-area .upload-row .fenished i , profile-wraper .uploaded-area .upload-row  .fenished a{
    color: var(--primary-color);
    font-size: var(--caption-four);
  }
  .profile-wraper .uploaded-area .upload-row  .fenished .fa-check {
    margin-right: 8px;
  }


  /* drag and drop */

  .upload-form.active{
    border: 2px dashed var(--accent-color) !important;
  }